.navbar {
  display: flex;
  background-color: red;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: white;
  color: red;
}

.tekstit {
    padding-left: 20px;
    text-align: center;
}

.kuva {
    display: flex;
    justify-content: center;
}

.otsikko {
    text-align: center;
}