/*
.header {
    background-color: #e6f0ff;
}

.vari {
    background-color: #e6f0ff;
}
*/
.navbar {
  display: flex;
  background-color: red;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: white;
  color: red;
}

.otsikko {
    text-align: center;
}

body.vaalea {
    background-color: white;
    color: black;
    .vari {
      background-color: #e6f0ff;
    }
    .header {
      background-color: #e6f0ff;
    }
}

body.tumma {
    background-color: black;
    color: white;
    .vari {
      background-color: gray;
    }
    .header {
      background-color: gray;
    }
}

.button {
    color: white;
    background-color: red;
    border: 0cap;
    font-size: 15px;
}

.button:hover {
    background-color: white;
    color: red;
}