.navbar {
  display: flex;
  background-color: red;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: white;
  color: red;
}

.tekstit {
    text-align: center;
}

.kuva {
    display: flex;
    justify-content: center;
}

.otsikko {
    text-align: center;
}

body.vaalea {
    background-color: white;
    color: black;
}

body.tumma {
    background-color: black;
    color: white;
}

.button {
    color: white;
    background-color: red;
    border: 0cap;
    font-size: 15px;
}

.button:hover {
    background-color: white;
    color: red;
}