/*väliaikasta, ehkä
body {
    background-color: black;
}
*/

h1 {
    text-align: center;
}

/*
h2 {
    color: green;
}

p {
    color: white;
    font-family: Arial;
    font-size: 20px;
}

tr {
    color: white;
}

th{
    color: white;
}

tr {
    color: white;
}

td {
    color: white;
}

ol {
    background: white;
    padding: 20px;
    width: 400px;
}
ol li {
    background: grey;
    color: black;
    padding: 10px;
    margin-left: 20px;
}

ul{
    background: white;
    padding: 20px;
    width: 400px;
}

ul li {
    background: grey;
    color: black;
    margin: 5px
}

*/


.navbar {
  display: flex;
  background-color: red;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: white;
  color: red;
}

body.vaalea {
    background-color: white;
    color: black;
}

body.tumma {
    background-color: black;
    color: white;
}

.button {
    color: white;
    background-color: red;
    border: 0cap;
    font-size: 15px;
}

.button:hover {
    background-color: white;
    color: red;
}