.navbar {
  display: flex;
  background-color: red;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: white;
  color: red;
}

.otsikko {
    text-align: center;
}

.ohjelma {
    text-align: center;
}