body {
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: green;
}

p {
    color: white;
    font-family: Arial;
    font-size: 20px;
}

li {
    color: palevioletred;
}

tr {
    color: white;
}

th{
    color: white;
}

tr {
    color: white;
}